.brand-logo{
    text-align: right;
  }
#user
{
  font-size: 30px;
  padding-top: 100px;
  color:black;
}
.navbarbackground
{
    background-color: rgb(163, 200, 217);
}
.head{
  color: black;
}